.home-page {
  padding-top: 104px;
  background: #1e252b;
  position: relative;

  &::before {
    content: url(../../assets/image/Illustration.svg);
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.form {
  position: relative;
  background: #283036;
  border-radius: 15px;
  max-width: 497.66px;
  width: 100%;

  img {
    position: absolute;
    margin-top: 3px;
    margin-right: 423px;
  }
  input {
    padding-left: 50px;
    background: transparent;
    border: none;
    width: 70%;
    height: 64px;
    outline: none;
    color: #d3bbb1;
    appearance: none;
  }
  .button_search {
    background: #ff6e30;
    transition: 0.5s;

    &:hover {
      transition: 0.5s;
      box-shadow: 0 0 10px rgba(214, 119, 10, 0.763);
      background: #283036;
    }

    &:active {
      transition: 0.1s;
      background: #d3bbb1;
    }
  }
}

.home-page__icon {
  display: flex;
  padding-top: 120px;
  gap: 20px;

  img {
    width: 27px;
    height: 27px;
    cursor: pointer;
  }
}

@media (max-width: 1100px) {
  .home-page {

    &::before {
      top: 76px;
    }
  }
}

@media (max-width: 772px) {
  .home-page {
    padding-top: 84px;

    &::before {
      display: none;
    }

    .title {
      font-size: 44px;
    }
  }
}

@media (max-width: 500px){
    .form{

        img{
            margin-right:358px
        }
    }
}
@media (max-width: 450px){
    .form{

        img{
            margin-right:300px
        }
    }
}

