.header {
  padding-top: 30px;
  background: #1e252b;
  li {
    color: transparent;
    text-decoration: none;
    position: relative;
  }

  a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.55);
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    column-gap: 40px;
    align-items: center;
  }

  &__authorization {
    display: flex;
    column-gap: 15px;
  }
}

.logo {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.button {
  border: none;
  background: transparent;
  padding: 12px 28px;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.78);
  border-radius: 8px;
  transition: 0.4s;

  &:hover {
    transition: 0.4s;
    background: #ff6e30;
  }
}

@media (max-width: 992px) {
  .header {
    &__menu {
      display: none;
    }
    &__nav {
      justify-content: flex-start;
      width: 100%;
    }

    &__authorization {
    }
  }
  .logo {
    width: 40%;
  }
}

@media (max-width: 772px) {
  .header__nav {
    display: inline;
  }

  .header__authorization {
    padding: 20px;
    justify-content: center;
  }
}

