.select-active {
    display: flex;
    justify-content: center;

    display: flex;
    position: absolute;
    top: 28px;
    right: 218px;
    z-index: 50;
    background: #1e252b;
    border-radius: 4px;
    transition: 0.4s;

    li {
      color: transparent;
      text-decoration: none;
      position: relative;
    }

    a {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: rgba(255, 255, 255, 0.55);
    }

    &__menu {
      padding-top: 0px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
    }
  }
