.request {
  text-align: center;
  padding-top: 104px;
  background: #1e252b;
  padding-bottom: 240px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #283036;
  border-radius: 15px;
  max-width: 497.66px;
  width: 100%;

  input {
    padding-left: 50px;
    background: transparent;
    border: none;
    width: 70%;
    height: 64px;
    outline: none;
    color: #d3bbb1;
    appearance: none;
  }

  .button_search {
    background: #ff6e30;
    transition: 0.5s;

    &:hover {
      transition: 0.5s;
      box-shadow: 0 0 10px rgba(214, 119, 10, 0.763);
      background: #283036;
    }

    &:active {
      transition: 0.1s;
      background: #d3bbb1;
    }
  }
}

@media (max-width: 400px) {
    .button{font-size: 13px }
}

