.newcomer-tools {
  padding-top: 200px;
  background: #1e252b;

  &__inner {
    display: flex;
    gap: 197px;
  }
  &__wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 70px;
  }

  @media (max-width: 992px) {
    .newcomer-tools__inner {
      gap: 7px;
    }
  }
  @media (max-width: 870px) {
    .newcomer-tools {
      &__inner {
        display: inline;
        gap: 7px;
      }
      &__wrap {
        padding-top: 20px;
      }
    }
  }
  @media (max-width: 500px) {
    .newcomer-tools__wrap {
      display: grid;
      grid-template-columns: 80%;
      grid-row-gap: 70px;
    }
  }
  @media (max-width: 500px) {
  }
}
